<h1>Add Clothing Item To Inventory</h1>
<%= form_tag "/items", method: :post do %>
  <div class="form-group">
    <%= label_tag :name %>
    <%= text_field_tag :name, "", class: 'form-control' %>
  </div>
  <div>
    <%= label_tag :categories %>
    <% Category.all.each do |category| %>
      <div class="checkbox">
        <label>
          <input type="checkbox" name="category_ids[]" value="<%= category.id %>">
          <%= category.name %>
        </label>
      </div>
    <% end %>
  </div>
  <div>
    <%= submit_tag "Add Clothing Item", class: 'btn btn-success' %>
  </div>
<% end %>
<%= form_tag "/items", method: :get do %>
  <%= submit_tag "Cancel", class: 'btn btn-danger' %>
<% end %>