<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<div class="trip-header cs-page cs-heading">
  <h1 style="font-size: 4em">Trip Destinations</h1>
</div>
<div class="container">
<div class="destination">
  <div class="row">
    <% @destinations.each do |destination| %>
      <div class="col-md-3">
        <img class ="center flag" src="http://www.geognos.com/api/en/countries/flag/<%= destination.country %>.png">
        <h2><a href="/destinations/<%= destination.id %>"><%= destination.city %>, <%= destination.state %></a></h2>
        <h3><%= destination.country%> - <%= destination.zip %></h3>
        <h4><%= destination.good_date %> - <%= destination.good_date_end %></h4>
        <div class="row">
          <form action="/destinations/<%= destination.id %>/edit" method="get">
          <button class="btn btn-info">Edit</button>
          </form> <%= link_to "Delete", "/destinations/#{destination.id}", method: :delete, class: "btn btn-danger" %>
        </div>
      <hr>
      </div>
    <% end %>
  </div>

  </div>
</div>
<form action="/destinations/new" method="get">
  <button class="btn btn-success">Add destination</button>
</form>