<h1>Weather Forecast</h1>
<% @destinations.each do |destination| %>
  <h2><a href="/destinations/<%= destination.id %>"><%= destination.city %>, <%= destination.state %></a></h2>
  <h3><%= destination.country%> - <%= destination.zip %></h3>
  <h4><%= destination.date %></h4>
  <h4><%= destination.destination_hi%> / <%= destination.destination_lo %></h4>
  <form action="/destinations/<%= destination.id %>/edit" method="get">
    <button>Edit destination</button>
  </form>
<% end %>
<hr>
<form action="/destinations/new" method="get">
  <button>Add destination</button>
</form>