<div class="dest-header">
  <h1><%= @destination.city %>, <%= @destination.state %></h1>
</div>
  <div class="location">
  <% if @destination.ten_plus? %>
    <h2>Arrive: <%= @destination.date_pretty_start%></h2>
    <h3>Normal high: <%= @weather["trip"]["temp_high"]["avg"]["F"] %>&#8457 / <%= @weather["trip"]["temp_high"]["avg"]["C"] %>&#8451</h3>
    <h3>Normal low: <%= @weather["trip"]["temp_low"]["avg"]["F"] %>&#8457 / <%= @weather["trip"]["temp_low"]["avg"]["C"] %>&#8451</h3>
    <h3>On this date, conditions have historically been listed as <b><u><%= @weather["trip"]["cloud_cover"]["cond"].downcase %></u></b> with a <b><u><%= @weather["trip"]["chance_of"]["chanceofprecip"]["percentage"] %>%</u></b> chance of precipitation.</h3>
    <% @weather_hi = @weather["trip"]["temp_high"]["avg"]["F"] %>
    <h2>Depart: <%= @destination.date_pretty_end%></h2>
  <% else %>
    <h2><%= @destination.date_pretty_start %></h2>
    <% @weather["forecast"]["simpleforecast"]["forecastday"].each do |forecastday| %>
      <h2><%= forecastday["date"]["pretty"] %></h2>
      <%= DateTime.new(forecastday["date"]["year"].to_i, forecastday["date"]["month"].to_i, forecastday["date"]["day"].to_i) %>
      <%= @destination.start_date %>
      <!-- Some logic here to change styling or otherwise highlight that certain dates are within your trip -->
      <%= DateTime.new(forecastday["date"]["year"].to_i, forecastday["date"]["month"].to_i, forecastday["date"]["day"].to_i) >= DateTime.new(@destination.start_date.year, @destination.start_date.month, @destination.start_date.day) %>
      <h3>High: <%= forecastday["high"]["fahrenheit"] %>&#8457 / <%= forecastday["high"]["fahrenheit"] %>&#8451</h3>
      <h3>Low: <%= forecastday["low"]["fahrenheit"] %>&#8457 / <%= forecastday["low"]["fahrenheit"] %>&#8451</h3>
      <% @weather_hi = forecastday["high"]["fahrenheit"] %>
    <% end %>
  <% end %>

  <img class="map" src="https://maps.googleapis.com/maps/api/staticmap?center=<%= @destination.city.split(' ').join('+') %>,<%= @destination.state %>&zoom=12&size=400x400">
</div>
<hr>
<div class="recommendations">
  <div>
    <h1>Suitcase Recommends</h1>
  </div>
  <div>
    <% current_user.select_wardrobe(@weather_hi.to_i, @destination.num_days).each do |item| %>
      <h4><%= item.name %></h4>
      <img class="destination-items" src="<%= item.images %>">
    <% end %>
  </div>
</div>